<a href="https://colab.research.google.com/github/AFONSOEIRAS/wine_dataset_kaggle/blob/main/Wine_Dataset_Kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
#Importando o pandas e carregando o conjunto de dados
import pandas as pd
arquivo = pd.read_csv("wine_dataset.csv")

In [54]:
arquivo.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0            7.4              0.70         0.00  ...      9.4        5    red
1            7.8              0.88         0.00  ...      9.8        5    red
2            7.8              0.76         0.04  ...      9.8        5    red
3           11.2              0.28         0.56  ...      9.8        6    red
4            7.4              0.70         0.00  ...      9.4        5    red

[5 rows x 13 columns]

In [55]:
#Altera os dados red por 0
arquivo["style"] = arquivo["style"].replace("red", 0)

In [56]:
#Altera os dados white por 1
arquivo["style"] = arquivo["style"].replace("white", 1)

In [57]:
#Separando as variáveis entre preditoras e variável alvo
y = arquivo["style"]
x = arquivo.drop("style", axis = 1)

In [58]:
y

0       0
1       0
2       0
3       0
4       0
       ..
6492    1
6493    1
6494    1
6495    1
6496    1
Name: style, Length: 6497, dtype: int64

In [59]:
x

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
0               7.4              0.70         0.00  ...       0.56      9.4        5
1               7.8              0.88         0.00  ...       0.68      9.8        5
2               7.8              0.76         0.04  ...       0.65      9.8        5
3              11.2              0.28         0.56  ...       0.58      9.8        6
4               7.4              0.70         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
6492            6.2              0.21         0.29  ...       0.50     11.2        6
6493            6.6              0.32         0.36  ...       0.46      9.6        5
6494            6.5              0.24         0.19  ...       0.46      9.4        6
6495            5.5              0.29         0.30  ...       0.38     12.8        7
6496            6.0              0.21         0.38  ...       0.32     11.8        6

[6497 rows x 12 columns]

In [60]:
#apenas os valores da variavel alvo style
y.shape

(6497,)

In [61]:
#todos os valores exceto a variavel alvo style
x.shape

(6497, 12)

In [62]:
from sklearn.model_selection import train_test_split

#criando os conjuntos de dados de treino e teste:
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)

In [63]:
from sklearn.ensemble import ExtraTreesClassifier
#Criação do modelo:
modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

#Imprimindo Resultados :
resultado = modelo.score(x_teste, y_teste)
print("Acurácia:", resultado)

Acurácia: 0.9969230769230769

In [64]:
y_teste[400:403]

807     0
489     0
6202    1
Name: style, dtype: int64

In [65]:
x_teste[400:403]

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
807             8.2              0.28         0.40  ...       0.70     12.8        7
489             9.3              0.39         0.40  ...       0.75     10.2        6
6202            5.0              0.33         0.18  ...       0.40     11.0        6

[3 rows x 12 columns]

In [66]:
#faz uma previsão dos 3 amostras colocadas
previsoes = modelo.predict(x_teste[400:403])

In [67]:
#Visualiza se a previsão
previsoes

array([0, 0, 1])